---
layout: page
---


Eric leads technical programs at Amazon Ads used by thousands of users to provide insights to the largest global agencies and advertisers. His contributions supported sales engagements to thousands of the largest sales prospects through Amazon's growth now exceeding <a href ="https://www.adexchanger.com/commerce/amazon-advertising-earned-50-billion-over-the-past-12-months-and-its-just-getting-started/">10 billion dollars per quarter in 2024</a>.

<br><br>

Eric is excited about Amazon Marketing Cloud offering Advertisers a fresh lens into Amazon's advertising and retail datasets.

<br><br>

At his best, Eric leads technical teams to deliver external facing analytic products. He connects the dots across external customers, executives, product managers, and engineering teams.

<br><br>
<h2> Now how about some lists... </h2>

<h3>Things Eric has spent a lot of time with</h3>
<ul>
  <li>Ad Tech broadly.. usually along the lines of "insights to support ad investment"</li>l
  <li>AWS (SageMaker, Bedrock, Redshift, EMR, Athena, Glue)</li>
  <li>Python</li>
  <li>Databricks</li>
</ul>

<h3>Things Eric is excited about (Oct 2024)</h3>
<ul>
  <li>Streamlit</li>
  <li>Ollama</li>
  <li>DuckDB</li>
</ul>

And to a lesser extent... but need to be listed somewhere
<ul>
  <li>Autogluon</li>
  <li>SQLite</li>
  <li>Cloudflare</li>
  <li>Tailscale</li>
</ul>

<h3>Things Eric is messing around with outside of work</h3>
<ul>
  <li>Heat Pumps</li>
  <li>Raspberry Pis, ESP32s</li>
  <li>Graphana, Statsd, InfluxDB</li>
  <li>Home Assistant</li>
  <l1>Proxmox</l1>
</ul>

<h3>Things that Eric spends a lot of time doing but is far from an expert at</h3>
<ul>
  <li>Lawn Care</li>
</ul>

